.panel {
    position: relative;
    background-color: var(--md-sys-color-surface-container-low, #f7f2fa);
    border-radius: 28px;
    padding: 16px;
    width: 100%;
    margin: 16px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    --md-elevation-level: 2;
}