
.content-menu {
    position: fixed;
    right: 6%;
    bottom: 4%;
    opacity: 0.4;
    transition: opacity 0.5s ease;
    
}

.content-menu:hover {
    opacity: 1;
}

.content-menu-item {
    position: absolute;
    bottom: 64px;
    left: 6px;

    transition: 
        transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.2s linear,
        visibility 0.2s;
}

.content-menu-item-open {
    display: block;
    opacity: 1;
    pointer-events: all;
}

.content-menu-item-close {
    opacity: 0;
    pointer-events: none;
    transform: translateY(0) scale(0.5) !important;
}