.content {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .content {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}